@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Secular+One&display=swap");

:root {
  --white: #fff;
  --main-color: grey;
  --secondary-color: #717b7c;
  --main-action: dodgerblue;
  --secondary-action: #125393;
  --radius: 4px;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --font-1: "Roboto", sans-serif;
  --font-2: "Secular One", sans-serif;
  --background-light: #ececec;
}

* {
  font-family: var(--font-1);
  transition: ease-out 0.4s all;
}

body {
  padding: 0;
  margin: 0;
}

.pure-control-group,
.local-rows,
.local-buttons {
  padding: 1rem;
}

.pure-control-group,
.local-rows {
  border-bottom: 1px solid var(--background-light);
}

.local-row {
  display: grid;
  grid-template-columns: 20px minmax(60px, auto) 60px 65px;
  grid-gap: 0.5em;
  margin-bottom: 1rem;
}

.local-title {
  height: 26px;
  color: var(--main-color);
  align-items: center;
  font-family: var(--font-2);
  font-size: 1.2rem;
}

.local-round {
  align-self: center;
  justify-self: center;
}

.local-flags {
  display: flex;
  gap: 16px;
  align-self: center;
  justify-self: center;
}

.local-buttons button {
  width: 100%;
  margin: 10px 0;
}

input[type="number"] {
  min-width: 60px;
  max-width: 100%;
}

input[type="number"],
select {
  border: 1px solid var(--main-color);
  border-radius: var(--radius);
  padding: 8px;
  font-size: 1rem;
}

.button {
  border-radius: 24px;
  font-size: 1rem;
  padding: 8px 16px;
  height: 42px;
  min-width: 70px;
}

.button.button-primary {
  background-color: var(--main-action);
  color: var(--white);
  border: none;
}

.button.button-primary:hover {
  background-color: var(--secondary-action);
  cursor: pointer;
}

.button.button-secondary {
  background-color: var(--white);
  color: var(--main-action);
  padding: 8px 16px;
  border-radius: 24px;
  border: 2px solid var(--main-action);
  font-size: 1rem;
  height: 42px;
}

.button.button-secondary:hover {
  color: var(--secondary-action);
  border-color: var(--secondary-action);
  cursor: pointer;
}

.form {
  box-sizing: border-box;
  max-width: 768px;
  margin: 0 auto;
  background-color: var(--white);
}

.form input[disabled],
.form select[disabled] {
  opacity: 1;
  color: var(--secondary-color);
  background-color: var(--background-light);
}

.pure-control-group {
  position: relative;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: var(--white);
  margin: auto;
  padding: 32px 20px;
  width: 80%;
  max-width: 800px;
  position: relative;
  text-align: center;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.modal-content div {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.modal-content button {
  min-width: 120px;
}

.close {
  position: absolute;
  top: 4px;
  right: 14px;
  color: var(--main-color);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* nuns pics */
.nun-pic {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  width: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

.nun-pic.angelica {
  background-image: url(./docs/assets/nuns/angelica.png);
}
.nun-pic.ann-marie {
  background-image: url(./docs/assets/nuns/ann-marie.png);
}
.nun-pic.bernadette {
  background-image: url(./docs/assets/nuns/bernadette.png);
}
.nun-pic.celeste {
  background-image: url(./docs/assets/nuns/celeste.png);
}
.nun-pic.margaret {
  background-image: url(./docs/assets/nuns/margaret.png);
}
.nun-pic.theresa {
  background-image: url(./docs/assets/nuns/theresa.png);
}

@media only screen and (min-width: 768px) {
  html {
    --s: 200px; /* control the size */
    --_g: #0000 8%, var(--background-light) 0 17%, #0000 0 58%;

    background: linear-gradient(
          135deg,
          #0000 20.5%,
          var(--background-light) 0 29.5%,
          #0000 0
        )
        0 calc(var(--s) / 4),
      linear-gradient(45deg, var(--_g)) calc(var(--s) / 2) 0,
      linear-gradient(135deg, var(--_g), var(--background-light) 0 67%, #0000 0),
      linear-gradient(
        45deg,
        var(--_g),
        var(--background-light) 0 67%,
        #0000 0 83%,
        var(--background-light) 0 92%,
        #0000 0
      ),
      #e7e7e7; /* second color */
    background-size: var(--s) var(--s);
  }

  body {
    padding: 1em 0;
  }

  .form {
    border-radius: var(--radius);
    box-shadow: var(--shadow);
  }

  .local-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-direction: row-reverse;
  }

  .local-buttons button {
    margin: 0;
  }
}
