@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Secular+One&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");

:root {
  --white: #fff;
  --main-color: grey;
  --secondary-color: #717b7c;
  --main-action: dodgerblue;
  --secondary-action: #125393;
  --radius: 4px;
  --shadow: rgba(0, 0, 0, 0.24) 0px 3px 0.5rem;
  --font-1: "Roboto", sans-serif;
  --font-2: "Secular One", sans-serif;
  --background-light: #ececec;
  --background-secondary: #e7e7e7;
  --grid-mobile: 20px minmax(60px, auto) 60px 65px;
  --grid-desktop: 40px minmax(60px, auto) 160px 160px;
}

* {
  font-family: var(--font-1);
  transition: ease-out 0.3s all;
}

body {
  padding: 0;
  margin: 0;
}

.form {
  box-sizing: border-box;
  max-width: 768px;
  margin: 0 auto;
  background-color: var(--white);
}

/* Header */

.sheet-header {
  border-bottom: 1px solid var(--background-light);
}

.sheet-header > div {
  position: relative;
  display: flex;
  gap: 1.5rem;
  padding: 1rem;
  align-items: center;
}

.sheet-header > div label {
  height: 26px;
  color: var(--main-color);
  align-items: center;
  font-family: var(--font-2);
  font-size: 1.2rem;
}

.sheet-header .select-wrapper {
  width: 130px;
}

/* Nuns pics */

.nun-pic {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0;
  width: 55px;
  background-size: contain;
  background-repeat: no-repeat;
}

.nun-pic.angelica {
  background-image: url(./docs/assets/nuns/angelica.png);
}
.nun-pic.ann-marie {
  background-image: url(./docs/assets/nuns/ann-marie.png);
}
.nun-pic.bernadette {
  background-image: url(./docs/assets/nuns/bernadette.png);
}
.nun-pic.celeste {
  background-image: url(./docs/assets/nuns/celeste.png);
}
.nun-pic.margaret {
  background-image: url(./docs/assets/nuns/margaret.png);
}
.nun-pic.theresa {
  background-image: url(./docs/assets/nuns/theresa.png);
}

/* Sheets lines */

.sheet-title {
  display: grid;
  grid-template-columns: var(--grid-mobile);
  grid-gap: 0.5em;
  padding: 1rem;
  height: 26px;
  color: var(--main-color);
  align-items: center;
  font-family: var(--font-2);
  font-size: 1.2rem;
}

.sheet-rows {
  border-bottom: 1px solid var(--background-light);
  padding: 1rem;
}

.sheet-row {
  display: grid;
  grid-template-columns: var(--grid-mobile);
  grid-gap: 0.5em;
  margin-bottom: 1rem;
}

.sheet-buttons {
  padding: 1rem;
}

.round {
  align-self: center;
  justify-self: center;
}

.sheet-buttons button {
  width: 100%;
  margin: 10px 0;
}

.select-wrapper {
  position: relative;
}

.select-wrapper::before {
  font: var(--fa-font-solid);
  color: var(--secondary-action);
  content: "\f078";
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

input,
select {
  border: 1px solid var(--main-color);
  border-radius: var(--radius);
  padding: 0.5rem;
  font-size: 1rem;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

input[disabled],
select[disabled] {
  opacity: 1;
  color: var(--secondary-color);
  background-color: var(--background-light);
}

input:focus-visible,
select:focus-visible {
  outline: 3px solid var(--main-action);
}

.select-wrapper select {
  width: 100%;
  padding-right: 32px;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

/* Buttons */

.button {
  border-radius: 1.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  height: 42px;
  min-width: 70px;
}

.button.button-primary {
  background-color: var(--main-action);
  color: var(--white);
  border: none;
}

.button.button-primary:hover {
  background-color: var(--secondary-action);
  cursor: pointer;
}

.button.button-secondary {
  background-color: var(--white);
  color: var(--main-action);
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  border: 2px solid var(--main-action);
  font-size: 1rem;
  height: 42px;
}

.button.button-secondary:hover {
  color: var(--secondary-action);
  border-color: var(--secondary-action);
  cursor: pointer;
}

.button:focus-visible {
  outline: 3px solid var(--main-action);
  outline-offset: 3px;
}

/* Modal */

.modal {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
  opacity: 1;
  pointer-events: all;
}

.modal-content {
  background-color: var(--white);
  margin: auto;
  padding: 2rem;
  width: fit-content;
  position: relative;
  text-align: center;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.modal.open .modal-content {
  transform: scale(1);
}

.modal-content div {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.modal-content button {
  min-width: 120px;
}

.close {
  position: absolute;
  top: 4px;
  right: 14px;
  color: var(--main-color);
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  html {
    --s: 200px; /* control the size */
    --_g: #0000 8%, var(--background-light) 0 17%, #0000 0 58%;

    background: linear-gradient(
          135deg,
          #0000 20.5%,
          var(--background-light) 0 29.5%,
          #0000 0
        )
        0 calc(var(--s) / 4),
      linear-gradient(45deg, var(--_g)) calc(var(--s) / 2) 0,
      linear-gradient(135deg, var(--_g), var(--background-light) 0 67%, #0000 0),
      linear-gradient(
        45deg,
        var(--_g),
        var(--background-light) 0 67%,
        #0000 0 83%,
        var(--background-light) 0 92%,
        #0000 0
      ),
      var(--background-secondary);
    background-size: var(--s) var(--s);
  }

  body {
    padding: 1em 0;
  }

  .form {
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    margin-top: 5rem;
  }

  .sheet-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--white);
    box-shadow: var(--shadow);
  }

  .sheet-header > div {
    max-width: 768px;
    margin: 0 auto;
  }

  .sheet-title,
  .sheet-row {
    grid-template-columns: var(--grid-desktop);
  }

  .sheet-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row-reverse;
  }

  .sheet-buttons button {
    margin: 0;
  }

  .modal-content {
    transform: scale(2);
  }

  .nun-pic {
    right: 1rem;
  }
}
