* {
  font-family: "Roboto", sans-serif;
}

body {
  padding: 0;
  background-color: #cecece;
  margin: 0;
}

.local-row {
  display: grid;
  grid-template-columns: 20px minmax(60px, auto) 60px 65px;
  grid-gap: 0.5em;
  margin-bottom: 1rem;
}

.local-title {
  height: 26px;
  color: grey;
  align-items: center;
}

.local-round {
  align-self: center;
  justify-self: center;
}

.local-flags {
  display: flex;
  gap: 16px;
  align-self: center;
  justify-self: center;
}

.local-new button {
  margin: 0 auto;
  display: block;
}

input[type="number"] {
  min-width: 60px;
  max-width: 100%;
}

input[type="number"],
select {
  border: 1px solid #999999;
  border-radius: 4px;
  padding: 8px;
  font-size: 1rem;
}

button {
  background-color: dodgerblue;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  font-size: 1rem;
}

.pure-form {
  box-sizing: border-box;
  max-width: 768px;
  padding: 1em 0.5em;
  margin: 0 auto;
  background-color: white;
}

.pure-form input[disabled],
.pure-form select[disabled] {
  opacity: 1;
  color: #717b7c;
  background-color: #ececec;
}

.pure-control-group {
  margin-bottom: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 1em 0;
  }

  .pure-form {
    border-radius: 12px;
    padding: 1em;
  }
}
